@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(234, 244, 229);
  --background-end-rgb: transparent;
}

body {
   background: var(--background-start-rgb)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding: .25rem;
}

.card-form label {
  margin-bottom: .5rem;
}

form input {
  height: 1.75rem;
  margin-bottom: 1.125rem;
  border: 1px solid rgba(142, 69, 176, .35);
  border-radius: 4px;
}
