@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(234, 244, 229);
  --background-end-rgb: transparent;
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #67B045;
    --background-end-rgb: #67B045;
  }
}
*/

body {
   background: linear-gradient(
    to bottom,
    var(--background-start-rgb) 65%,
    var(--background-end-rgb)
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding: 4px;
}
