@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-canvas;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-form label {
  margin-bottom: 0.5rem;
}

form input {
  height: 1.75rem;
  margin-bottom: 1.125rem;
  border: 1px solid rgba(142, 69, 176, 0.35);
  border-radius: 4px;
}
